html,
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  margin: 0px;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}
.content-div {
  padding-top: 5%;
  padding-bottom: 5%;
}
#logo {
  margin-left: 2%;
  height: 60px;
  width: 60px;
}
.social-media img {
  height: 20px;
  width: 22px;
}
header,
footer {
  position: fixed;
  width: 100%;
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  height: 9%;
  top: 0;
}
footer {
  height: 8%;
  left: 0;
  bottom: 0;
}

header button {
  margin-right: 2%;
}
footer button {
  width: 100%;
  margin-left: 2%;
}

.social-media {
  margin-right: 2%;
}
.copyRight {
  font-size: 12px;
}

.contact-us {
  margin-left: 2%;
}
