html,
body {
  height: 100vh;
  width: 100vw;
}
.place-cards img {
  height: 150px;
  width: 150px;
  border-radius: 15%;
}

.search-engine {
  padding-top: 1%;
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-engine input {
  font-family: inherit;
  background-color: #f1f1f1;
  width: 300px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 16px;
}

.place-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  padding: 4%;
}
.more-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

.more-option a {
  text-decoration: none;
  color: black;
}
