html,
body {
  height: 100vh;
  width: 100vw;
}

.list-hotel img {
  height: 200px;
  width: 250px;
}
.view {
  padding-top: 1%;
}
.view ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list-hotel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list-hotel > div {
  margin: 5%;
  background-color: lightgray;
  width: 40%;
}
.list-hotel a {
  background-color: lightgray;
  width: 40%;
}
a {
  text-decoration: none;
  color: black;
}

#mapView {
  display: none;
  padding-left: 2%;
}

.hotel-detail {
  display: flex;
  flex-direction: row;
}
.info {
  margin-left: 3%;
}
