html,
body {
  height: 100vh;
  width: 100vw;
}
.content-div {
  background-color: #e0e0e0;
}
.list-hotel img {
  height: 200px;
  width: 250px;
}
.view {
  padding-top: 1%;
}
.view ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list-hotel.active > div {
  margin: 5%;
  background-color: lightgray;
  width: 40%;
}
.list-hotel.active a {
  background-color: lightgray;
  width: 40%;
}
.list-hotel.active a {
  text-decoration: none;
  color: black;
}

.list-hotel {
  display: none;
}
.list-hotel.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.map-view {
  display: none;
}

.map-view.active {
  display: block;
  margin-left: 2%;
}

.hotel-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info {
  margin-left: 3%;
}

.list-hotel.active .hotel-detail:hover {
  background-color: rosybrown;
}

.view {
  margin-top: 2%;
}
