.main {
  font-family: inherit;
}

.content-div img {
  max-height: 300px;
  max-width: 270px;
}
.content-div {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hotel-detail {
  display: flex;
  align-items: center;
  background-color: rgb(132, 136, 139);
  width: 50%;
  margin: 2% auto 2% auto;
}
.hotel-info {
  padding-left: 5%;
}
.customer-detail {
  margin: 2%;
}
.customer-detail p {
  padding: 3% 0;
}

.tariff-detail p {
  padding-bottom: 3%;
}

.payment-detail a {
  text-decoration: none;
  color: black;
  margin-left: 2%;
}

.payment-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2%;
  background-color: rosybrown;
}

.font-style {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
